@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply font-sora text-base;
}

input,
button,
a,
select {
	outline: none;
}

.icon {
	contain: strict;
}

.icon:not(.no-mask) {
	mask-image: var(--image);
	mask-size: contain;
	mask-position: center;
	mask-repeat: no-repeat;
}

.icon.no-mask {
	background-image: var(--image);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.button-outline {
	position: absolute;
	inset: -4px;
	border-radius: 9999px;
	overflow: clip;
}

.animate-outline {
	animation: outline 3s ease-in-out infinite;
}

@keyframes outline {
	50% {
		transform: translateX(100%);
	}
}

.animate-counter-prev {
	animation: animate-counter-prev 1s ease-in;
	animation-fill-mode: forwards;
}

.animate-counter-current {
	animation: animate-counter-current 1s ease-in;
	animation-fill-mode: forwards;
}

@keyframes animate-counter-prev {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes animate-counter-current {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}
